.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  background-color: black;
  color: blanchedalmond;
}

.movie-app>.row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

input {
  background-color: black;
  border: 1px solid blanchedalmond;
  color: blanchedalmond;
}

button {
  background-color: black;
  border: 1px solid blanchedalmond;
  color: blanchedalmond;
}

html {
  background-color: black;
}

#movie {
  width: fit-content;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  font-family: 'Allerta Stencil';
  font-size: 22px;
  margin-top: 2%;
}

#searchBox {
  font-family: 'Allerta Stencil';
  font-size: 15px;
  margin-left: 10px;
}

label {
  margin-right: 15px;
}

::-webkit-scrollbar {
  width: 12px;
}

.movie_poster:hover {
  padding: 1%;
  background-color:rgb(65, 65, 65);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(199, 185, 185, 0.3);
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
